# 使用淘宝镜像源
registry=https://registry.npmmirror.com

# Node.js 二进制文件镜像
node-mirror=https://npmmirror.com/mirrors/node/

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# Sass 镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/

# Sharp 镜像
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
