apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tara-prod

resources:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: production

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: project-service
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: agent-service

configMapGenerator:
  - name: tara-config
    behavior: merge
    literals:
      - ENVIRONMENT=production
      - DEBUG=false
      - LOG_LEVEL=WARNING
