apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tara-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment

configMapGenerator:
  - name: tara-config
    behavior: merge
    literals:
      - ENVIRONMENT=development
      - DEBUG=true
      - LOG_LEVEL=DEBUG
